<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Projeto_EPLAYERS_MVC</title>
    <link rel="stylesheet" href="~/css/e-players.css" />

    @if (ViewData["Title"].ToString() == "Equipes")
    {
        <link rel="stylesheet" href="~/css/e-players-cadastro-times.css" />
        <link rel="stylesheet" href="~/css/e-players-cadastro-jogador.css" />
    }

    @if (ViewData["Title"].ToString() == "Jogadores")
    {
        <link rel="stylesheet" href="~/css/e-players-cadastro-jogador.css" />
    }

    @if (ViewData["Title"].ToString() == "Login")
    {
        <link rel="stylesheet" href="~/css/e-players-cadastro-jogador.css" />
    }

    <script src="https://kit.fontawesome.com/429ce419a2.js" crossorigin="anonymous"></script>


</head>

<body>
    <header>
        <div class="grid header">
            <a asp-area="" asp-controller="Home" asp_action="Index"><img src="~/Imagens/logo 3.png"
                    alt="logo e-players"></a>
            <nav class="itens_header">
                <a asp-area="" asp-controller="Home" asp_action="Index">Início</a>
                <a href="#noticias">Horários</a>
                <a href="#campeonatos">Campeonatos</a>
                <a href="#noticias">Resultados</a>
                <a href="#noticias">Notícias</a>

                @if (ViewBag.NomeUsuario != null)
                {
                    <span style="color: #CA0000">Olá @ViewBag.NomeUsuario!</span>
                    <a asp-area="" asp-controller="Login" asp_action="Logout">Logout</a>
                }
                else
                {
                    <a asp-area="" asp-controller="Login" asp_action="Index">Login</a>
                }

            </nav>
        </div>
    </header>

    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="grid">
            <div class="texto_footer">
                <div class="item_footer">
                    <span class="titulo_span">Links Úteis</span>
                    <ul>
                        <li>Regras de Utilização</li>
                        <li>Suporte</li>
                        <li>Central de Ajuda</li>
                        <li>Contato</li>
                    </ul>
                </div>
                <div class="item_footer">
                    <span class="titulo_span">Páginas</span>
                    <ul>
                        <a href="#banner">
                            <li>Início</li>
                        </a>
                        <a href="#campeonatos">
                            <li>Campeonatos</li>
                        </a>
                        <a href="#noticias">
                            <li>Resultados</li>
                        </a>
                        <a href="#noticias">
                            <li>Notícias</li>
                        </a>
                        <a href="">
                            <li>Login/Cadastro</li>
                        </a>
                    </ul>
                </div>
            </div>
            <a asp-area="" asp-controller="Home" asp_action="Index"><img src="~/Imagens/logo 3.png"
                    alt="logo e-players"></a>
            <div class="redes_sociais">
                <span class="item_footer newsletter">Faça parte do nosso clan, assine nossa newsletter!</span>
                <img src="~/Imagens/cadastro.png" alt="img.cadastro">
                <div class="icones">
                    <span class="item_footer">Siga-nos em:</span>
                    <img src="~/Imagens/instagram.png" alt="img.instagram">
                    <img src="~/Imagens/facebook.png" alt="img.facebook">
                    <img src="~/Imagens/youtube.png" alt="img.youtube">
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>
