@{
    ViewData["Title"] = "Login";
}

<section class="banner_cadastro" id="banner">
    <h1>@ViewData["Title"]</h1>
</section>

<section class="cadastro">
    <div class="grid espaçamento_section">
        <form method="POST" action='@Url.Action("Logar")'>

            <label class="letter_texto">Email</label>
            <input type="text" name="Email">

            <label class="letter_texto">Senha</label>
            <input type="password" name="Senha">

            <div class="erro">@TempData.Peek("MensagemErro")</div>

            <button type="submit">Entrar</button>

        </form>
    </div>
</section>
