@{
    ViewData["Title"] = "Login";
}

<section class="banner_cadastro" id="banner">
    <h1>@ViewData["Title"]</h1>
</section>

<section class="cadastro">
    <div class="grid espaçamento_section">
        <form class="caixa_cadastro" method="POST" action='@Url.Action("Logar")'>

            <div class="item_cadastro">
                <label class="letter_texto">Email</label>
                <input type="text" name="Email">
            </div>

            <div class="item_cadastro">
                <label class="letter_texto">Senha</label>
                <input type="password" name="Senha">
            </div>
            <div class="erro">@TempData.Peek("MensagemErro")</div>

            <button type="submit">Entrar</button>

        </form>
    </div>
</section>
