@{
    ViewData["Title"] = "Login";
}

<section class="banner_cadastro" id="banner">
    <h1>Cadastro de @ViewData["Title"]</h1>
</section>

<form method="POST" action='@Url.Action("Logar")'>

    <label>Email</label>
    <input type="text" name="Email">

    <label>Senha</label>
    <input type="password" name="Senha">
    
    <div class="erro">@TempData.Peek("MensagemErro")</div>

    <button type="submit">Entrar</button>

</form>