@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@700&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.grid {
    width: 1200px;
    margin: 0 auto;
    /* background-color: thistle; */
}

header {
    width: 100%;
    height: 145px;
    background-color: rgba(0, 0, 0, 0.88);
}

.header {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: tomato; */
}

.itens_header {
    width: 736px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.itens_header a {
    color: white;
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    /* background-color: blue; */
}

.banner {
    width: 100%;
    height: 784px;
    display: flex;
    background-image: url("../Imagens/fundo_banner.png");
    background-size: cover;
    background-position: center;
    /* background: -webkit-linear-gradient(left, #da0000 13%,#ca0000 32%,#000000 68%); Chrome10-25,Safari5.1-6 */
}

.texto_banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-left: 130px; */
}

h1 {
    color: #ffffff;
    font-size: 78px;
    font-weight: 700;
    font-family: 'Bitter';
    width: 525px;
}

.span_banner {
    width: 553px;
    color: #ffffff;
    font-family: 'Bitter';
    font-weight: 400;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 80px;
}

.button_banner  {
    color: #ffffff;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 38px;
    text-transform: uppercase;
    width: 350px; 
    height: 100px;
    border-radius: 12px;
    background-color: red;
}

.parcerias {
    height: 220px;
    background-color: #000000;
}

.grid {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.alinhamento_banner {
    display: flex;
    justify-content: flex-end;
}

.ligas {
    background-image: linear-gradient(0deg, rgba(70, 68, 185, 0.7), rgba(70, 68, 185, 0.7)), url(imagens/bg-lol.jpg);
    /* clip-path: polygon(0% 0%, 0% 100%, 0 100%, 0 40%, 100% 0, 100% 61%, 100% 60%, 0 100%, 100% 100%, 100% 0); */
    height: 600px;
    padding-top: 57px;
}

.conteudo_ligas {
    height: 550px;
    display: flex;
    transform: skewY(-3deg);
    background-color: #000000;
}

.texto_ligas {
    transform: skewY(3deg);
}

.texto_ligas h2 {
    color: #ffffff;
    font-family: Titillium Web;
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 50px;
}

.texto_ligas p {
    color: #ffffff;
    font-family: Roboto;
    font-size: 18px;
    font-weight: normal;
    width: 640px;
    text-align: justify;
    margin-bottom: 20px;
}

.conteudo_ligas img {
    width: 640px;
}

.ao_vivo {
    height: 220px;
    background-color: #000000;
    display: flex;
}

.conteiner_partida {
    display: flex;
    align-items: center;
    height: 54px;
}

.titulo_aovivoembreve {
    color: #ffffff;
    width: 140px;
    font-family: Roboto;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
}

.partida {
    width: 265px;
    display: flex;
    justify-content: space-evenly;
    margin-left: 20px;
}

.partida span {
    color: #ffffff;
    font-family: Roboto;
    font-weight: 400;
    font-size: 35px;
}

.vs {
    color: #ffffff;
    font-family: Roboto;
    font-weight: 900;
    font-style: italic;
    font-size: 35px;
}

hr {
    color: #ffffff;
    height: 135px;
}

.noticias {
    height: 1064px;
    background-color: #212020;
    display: flex;
    justify-content: space-around;
}

.todas_noticias {
    justify-content: inherit;
}

.noticias span {
    color: #ffffff;
    font-family: Roboto;
    font-weight: 400;
    font-size: 36px;
}


.noticias_isa {
    width: 792px;
    height: 825px;
    display: flex;
    flex-wrap: wrap;
    justify-content: inherit;
}

.noticia {
    width: 227px;
    height: 360px;
    display: flex;
    flex-direction: column;
    background-color: #2C2828;
    box-shadow: 15px 15px 8px #000000;
}

.texto_noticia {
    height: 202px;
    color: #ffffff;
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 15px;
}

.texto_noticia span {
    text-transform: uppercase;
    font-size: 18px;
}

.ultima_fileira_noticias {
    display: flex;
    flex-wrap: wrap-reverse;
    width: 792px;
    justify-content: inherit;
    margin-bottom: 8px;
}

.proximos_jogos {
    width: 346px;
    height: 815px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* background: linear-gradient(to bottom, #000000 19%,#655d5d 39%,#655d5d 60%,#000000 88%,#000000 88%);  */
    background: linear-gradient(180deg, #000000 20.31%, #655D5D 50.52%, #000000 80.73%);
    box-shadow: 10px 10px 8px;
}

.quadro_1partida {
    display: flex;
    flex-direction: column;
    width: 223px;
    margin: 0 auto;
}

.quadro_1partida span {
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    display: flex;
    justify-content: center;
}

.prox_partida {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 15px;
}

footer {
    height: 312px;
    background-color: #000000;
    display: flex;
}

.texto_footer {
    width: 430px;
    display: flex;
    justify-content: space-around;
}

.item_footer {
    color: #ffffff;
    font-family: Roboto;
    font-weight: 400;
    font-size: 20px;
}

.titulo_span {
    color: #ffffff;
    font-family: Roboto;
    font-weight: 700;
    font-size: 30px;
}

ul {
    list-style-type: disc;
}

ul a {
    color: #ffffff;
    text-decoration: none;
    font-family: Roboto;
    font-weight: 400;
    font-size: 20px;
}

.redes_sociais {
    /* width: 388px; */
    height: 218px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newsletter {
    width: 292px;
    font-size: 25px;
}

.redes_sociais img {
    margin: 20px 0px; 
}

.icones {
    width: 388px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.icones img {
    width: 47px;
    height: 47px;
}